{% extends 'aus.html' %}
{% block sub_content %}
<div
    style="margin:0px 50px; font-style: italic;font-size :18px; min-height: 550px;border: solid black;border-radius: 30px;padding: 17px;">
    <div></div>
    <h2>About us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        non dolorum assumenda sed eius fuga tempore
        rerum
        quasi aperiam at eligendi facilis sunt recusandae asperiores, distinctio deserunt modi rem ratione.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat non dolorum assumenda sed eius fuga tempore
        rerum
        quasi aperiam at eligendi facilis sunt recusandae asperiores, distinctio deserunt modi rem ratione.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat non dolorum assumenda sed eius fuga tempore
        rerum
        quasi aperiam at eligendi facilis sunt recusandae asperiores, distinctio deserunt modi rem ratione.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat non dolorum assumenda sed eius fuga tempore
        rerum
        quasi aperiam at eligendi facilis sunt recusandae asperiores, distinctio deserunt modi rem ratione.</p>
    <a href="/">Home</a>
</div>
{% endblock %}